p, h1, div {
  font-family: Roboto-Light,Helvetica,Arial,sans-serif;
}

.toolTipText {
  font-family: Roboto-Light,Helvetica,Arial,sans-serif;
  font-size: 0.9em;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  scroll-behavior: smooth;
  font-size: 160%;
}
html {
  font-size: 62.5%;
}

/* хром, сафари */
/* html::-webkit-scrollbar { width: 0; } */

/* ie 10+ */
/* html { -ms-overflow-style: none; } */

/* фф (свойство больше не работает, других способов тоже нет)*/
/* html { overflow: -moz-scrollbars-none; } */

/*
try this method

div {
  width: 100px;
  height: 200px;
  border: 1px solid red;
  margin-bottom: 10px;
  overflow: auto;
}
.parent{
  width: 85px;
  overflow: hidden;
} */

body {
  margin: 0;
}
.desktopNav {
  display: flex;
  /* for empty area */
}
.desktopNav a {
  text-decoration: none;
  font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: white;
  /* cursor: pointer; */
}
.desktopNav a + a {
  margin-left: 40px;
}
.desktopNav a:hover {
  color: #ccc;
}

.request-button {
  color: #ffcc00;
  /* color: black; */
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: .7em 1.5em;
  outline: none;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
}
.request-button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.request-button:active { background: rgb(152,15,0); } /* при нажатии */

.container-for-button {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
}







.emptyDivForPositionLogo {
  width: 65px;
}
.logo span {
  font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
  font-size: 25px;
}

.header {
  height: 40px;
  position: fixed;
  z-index: 4;
}
.header-container {
  height: 100%;
  width: 100%;
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
      `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}




.mobileNav {
  display: none;
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
}

.numberForConnection {
  margin-right: 30px;
  font-size: 2.2rem;
  display: flex;
}
.numberForConnection a {
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.yellowTreangle {
  /* background: url(../../assets/images/service/triangle.svg); */
  background-size: cover;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.line {
  position: relative;
}
.line::before, .line::after {
  position: absolute;
  content: '';
}
.line::before {
  width: 1px;
  border-left: #ccc solid 1px;
  top: 5px;
  bottom: 5px;
  left: 0px;
}
.line::after {
  width: 1px;
  border-right: #ccc solid 1px;
  right: 0px;
  top: 5px;
  bottom: 5px;
}
.rightbutton {
  margin-left: -1px;
}

.requestCall {
  position: fixed;
  bottom: 180px;
  right: 60px;
}

.requestCall a {
  -webkit-box-shadow: 3px 3px 48px 3px rgba(255,255,255,1);
  -moz-box-shadow: 3px 3px 48px 3px rgba(255,255,255,1);
  box-shadow: 3px 3px 48px 3px rgba(255,255,255,1);
}

@media screen and (max-width: 1210px) {
  .logo span {
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (max-width: 824px) {
  .numberForConnection {
    margin-right: 5%;
  }
  .numberForConnection a {
    margin-top: 4px;
  }
  .logo {
    margin-left: 5%
  }
  .logo span {
    font-size: 1.2rem;
  }
  .emptyDivForPositionLogo {
    width: 4px;
  }
  .numberForConnection {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .requestCall {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}

@media screen and (max-width: 390px) {
  .logo span {
    font-size: 1rem;
  }

}






































































/* start first page */
.firstScreen {
  background-image: linear-gradient(
    41deg, #00000099 540px, #00000099 541px, #00000099 1262px, #00000099 1263px
    ), url(../assets/images/service/firstScreen.jpg);
  background-size: cover;
}
.secondHalfFirstScreen {
  position: relative;
  display: flex;
}
.mainTitleAndDescription {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mainTitle {
}
.mainTitle p {
  color: white;
  font-size: 4rem;
  font-family: "Rubik",sans-serif;
  text-align: center;
}
.mainDescription:before {
  top: 0;
  height: 1px;
  left: 75px;
  right: 75px;
  border-top: 1px solid #e6e6e6;
  content: '';
  position: absolute;
}
.mainDescription {
  position: relative;
  color: white;
  width: 50%;
}
.mainDescription p {
  margin-top: 40px;
  font-size: 1.6rem;
  text-align: center;
}

.bottonToDown {
  position: absolute;
  top: 12vmin;
  left: 96vmin;

  background: #ffffff00;
  border-color: #00000000;

  border-top: 90px solid #ffffffcc;
  border-left: 103px solid transparent;
  height: 0;
  width: 430px;

  cursor: pointer;
}
.bottonToDown:hover {
  border-top: 90px solid #ffffffee;
}
.bottonToDown:focus {
  outline: 0;
}
.bottonToDown:hover p {
  /* font-weight: bolder; */
  /* font-size: 30px; */
  color: rgba(173, 0, 0, 0.952);
}
.marginTopForMobile {
  margin-top: 25px;
}
.bottonToDown p {
  font-size: 32px;
  color: #d70000;
  margin-top: -65px;
  margin-left: -10px;
  position: absolute;
  text-align: center;
  width: 300px;
}





.iconContainer {
  width: 97vmin;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.iconForAttract {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24vmin;
}
.iconSize {
  height: 20vmin;
  width: 20vmin;
}
.iconTitleSize {
  font-size: 2vmin;
  font-weight: bold;
  text-align: center;
}
.iconTime {
  background: url(../assets/images/service/iconClock.png);
  background-size: cover;
}
.iconDocument {
  background: url(../assets/images/service/iconDocument.png);
  background-size: cover;
}
.iconPercentage {
  background: url(../assets/images/service/iconPercentage.png);
  background-size: cover;
}
.iconTrafic {
  background: url(../assets/images/service/iconTraffic.png);
  background-size: cover;
}

.marginTop0 {
  margin-top: 0;
}
.marginBot0 {
  margin-bottom: 0;
}



@media screen and (max-width: 824px) {
  .secondHalfFirstScreen {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bottonToDown {
    position: static;
    background: #ffffffcc;
    border: 0;
    height: 90px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .bottonToDown:hover {
    background: #ffffffee;
    border: 0;
  }
  .bottonToDown p {
    font-size: 32px;
    color: #d70000;
    margin: 0;
    position: relative;
  }
  .bottonToDown:hover p {
    font-weight: bold;
  }
}







@media screen and (max-width: 430px) {
  .mainTitle p {
    color: white;
    font-size: 2rem;
    font-family: "Rubik",sans-serif;
    text-align: center;
  }
  .mainDescription {
    color: white;
    width: 90%;
  }
  .mainDescription p {

    text-indent: 1.5em;
    font-size: 1.4rem;
    text-align: justify;
  }
  .secondHalfFirstScreen {
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
/* end first page */




















































/* start second screen */
/*
p {
  margin: 0 2px;
  width: 100%;
  font-size: 2rem;
} */
.parentFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondScreen .border {
  border: 1px solid black;
  border-radius: 6px;
}
.flexContentBetween {
  display: flex;
  align-items: center;
}
.secondScreen .imageSize {
  min-width: 100px;
  height: 100px;
  margin: auto 25px;
}

.secondScreen .container {
  margin: 0%;
  width: 100%;
  height: 100%;
  color: black;
}
.title {
  width: 100%;
  text-align: center;
}
.title span {
  font-size: 2.4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
.content {
  width: 100%;
}
.creditDescriptionBlock {
  width:45%;
  padding: 10px;
}
.creditDescriptionBlock p {
  width: 95%;
  margin-bottom: 10px;
}
.lisingDescriptionBlock {
  width:45%;
  padding: 10px;
}
.lisingDescriptionBlock p {
  width: 95%;
  margin-bottom: 10px;
}





.firstLineBlockAdvantages {
  display: flex;
  width: 100%;
}
.secondLineBlockAdvantages {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.firstBlockAdvantages {
  display: flex;
  width: 50%;
}
.imageAuto {
  background-image: url(../assets/images/service/advantagesPage/auto.png);
  background-size: cover;
}
.imageAutoDescription p {
  width: auto;
}
.secondBlockAdvantages {
  position: relative;
  display: flex;
  width: 50%;
}
.imageDocuments {
  background-image: url(../assets/images/service/advantagesPage/documents.png);
  background-size: cover;
}
.thirdBlockAdvantages {
  position: relative;
  display: flex;
  width: 50%;
}
.imageForWho {
  background-image: url(../assets/images/service/advantagesPage/forwho.png);
  background-size: cover;
}
.imageForWhoDescription, .imageHowSpeedDescription, .imageDocumentsDescription {
  width: 100%;
}
.fourthBlockAdvantages {
  position: relative;
  display: flex;
  width: 50%;
}
.imageHowSpeed {
  background-image: url(../assets/images/service/advantagesPage/howspeed.png);
  background-size: cover;
}

.borderLeft::before, .borderTop::after {
  position: absolute;
  content: '';
}
.borderLeft::before {
  top: 7px;
  bottom: 7px;
  left: 0px;
  border-left: 1px solid black;
  width: 1px;
}
.borderTop::after {
  top: 0;
  height: 1px;
  left: 17px;
  right: 17px;
  border-top: 1px solid black;
}
.creditLisingBlocks {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.advantagesBlocks {
  box-sizing:border-box;
  padding: 10px;
  margin-bottom: 20px;
  width: 95%;
}
.mainTitle {
  margin-bottom:7px;
  margin-top:4px;
  font-size: 3rem;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .creditLisingBlocks {
    flex-wrap: wrap;
  }
  .creditDescriptionBlock, .lisingDescriptionBlock {
    width:100%;
    padding: 10px;
    margin-top: 10px;
  }
  .creditDescriptionBlock p {
    width: 95%;
    margin-bottom: 10px;
  }
  .firstLineBlockAdvantages, .secondLineBlockAdvantages  {
    flex-wrap: wrap;
    margin: 0;
  }
  .firstBlockAdvantages, .secondBlockAdvantages, .thirdBlockAdvantages, .fourthBlockAdvantages {
    width: 100%;
    margin-bottom: 15px;
  }
  .borderLeft::before, .borderTop::after {
    border: 0;
  }
  .mainTitle {
    margin-top: 40px;
  }
  .secondScreen .imageSize {
    min-width: 70px;
    height: 70px;
    margin: auto 10px;
  }
}
/* end second screen */









/* start third screen */

table {
  border-collapse: collapse;
  table-layout: initial;
  width: 100%;
}
td {
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 15px 20px;
  width: 25%;
}
/* p {
  margin: 0 2px;
  width: 100%;
  font-size: 2rem;
} */
.parentFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexContentBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  width: 100%;
  text-align: center;
}
.conditionBorderLeft {
  border-left: 1px solid #e6e6e6;
}
.conditionBorderRight {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.container {
  width: 100%;
  height: 100%;
  color: white;
}
.content {
  width: 100%;
}
.conditions {
  width: 95%;
}
.whoCanUse {
  width: 95%;
  display: flex;
  margin-bottom: 20px;
}
.whoCanUseChildrenSize {
  width: 50%;
  position: relative;
}
.whoCanUseChildrenSize::after, .whoCanUseChildrenSize::before   {
  position: absolute;
  content: '';
}
.whoCanUseChildrenSize::before {
  top: 0;
  height: 1px;
  left: 17px;
  right: 17px;
  border-top: 1px solid #e6e6e6;
}
.whoCanUseChildrenSize::after {
  top: 7px;
  bottom: 7px;
  left: 0px;
  border-left: 1px solid #e6e6e6;
  width: 1px;
}
.whoCanUseContent::after, .whoCanUseContent::before   {
  position: absolute;
  content: '';
}
.whoCanUseContent::before {
  bottom: 0;
  height: 1px;
  left: 17px;
  right: 17px;
  border-top: 1px solid #e6e6e6;
}
.whoCanUseContent::after {
  top: 7px;
  bottom: 7px;
  right: 0px;
  border-left: 1px solid #e6e6e6;
  width: 1px;
}
.whoCanUseContent {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 10px 0;
  box-sizing: border-box;
}
.whoCanUseContent p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.marginMinus {
  margin-left: -2px;
}

@media screen and (max-width: 750px) {
  table {
    border-collapse: collapse;
    table-layout: initial;
    width: 100%;
  }
  td {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 15px 20px;
    width: 25%;
    font-size: 2vmin;
  }
  td p {
    font-size: initial;
  }
}
@media screen and (max-width: 600px) {
  td p {
    font-size: inherit;
  }
}


/* end third screen */































































/* start fourth screen */

/* p {
  margin: 0 2px;
  width: 100%;
} */
.parentFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexContentBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fourthScreen .title {
  width: 100%;
  text-align: center;
}
.fourthScreen .container {
  color: black;
  width: 100%;
  height: 100%;
  padding: 0; /* 30px; */
}
.fourthScreen .container h3 {
  text-align: center;
}
.stepsToGetting {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-right: 50px;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.step p {
  text-align: center;
}
.imageSize {
  min-width: 100px;
  height: 100px;
  margin-top: 0;
}
.step1Image {
  background-image: url(../assets/images/service/stepToSubmit/step1.png);
  background-size: cover;
}
.step2Image {
  background-image: url(../assets/images/service/stepToSubmit/step2.png);
  background-size: cover;
}
.step3Image {
  background-image: url(../assets/images/service/stepToSubmit/step3.png);
  background-size: cover;
}
.step4Image {
  background-image: url(../assets/images/service/stepToSubmit/step4.png);
  background-size: cover;
}
.step5Image {
  background-image: url(../assets/images/service/stepToSubmit/step5.png);
  background-size: cover;
}
.toNextStep {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toNextStep div {
  min-width: 40px;
  height: 40px;
  background-image: url(../assets/images/service/stepToSubmit/arrow.png);
  background-size: cover;
}

.ourAdvantages {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.advantage {
  width: 19%;
}
.advantage h4 {
  margin-bottom: 13px;
  font-size: 2.0rem;
  text-align: center;
}
.advantage1Image {
  background-image: url(../assets/images/service/ourAdvantages/advant1.png);
  background-size: cover;
}
.advantage2Image {
  background-image: url(../assets/images/service/ourAdvantages/advant2.png);
  background-size: cover;
}
.advantage3Image {
  background-image: url(../assets/images/service/ourAdvantages/advant3.png);
  background-size: cover;
}
.advantage4Image {
  background-image: url(../assets/images/service/ourAdvantages/advant4.png);
  background-size: cover;
}
.advantage5Image {
  background-image: url(../assets/images/service/ourAdvantages/advant5.png);
  background-size: cover;
}
@media screen and (max-width: 830px) {
  .ourAdvantages {
    flex-direction: column;
  }
  .advantage {
    width: 100%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 690px) {
  .stepsToGetting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 95%;
  }
  .toNextStep{
    transform: rotate(90deg);
  }

}


/* end fourth screen */






















































/* start fifth screen */

.test {
  background: #ffcc00;
}

.fifthScreen {
  width: 100%;
  height: 100%;
  position: relative;
}
.request {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 600px;
  background: #ffcc00;
  margin-bottom: 150px;
  padding: 40px;
}
.requestTitle {
  font-size: 38px;
  text-align: center;
  margin: 0;
}
.requestDescription {
  font-size: 20px;
  margin: 2px;
  width: 600px;
  text-align: center;
}
.requestInputs {
  width: 100%;
}
#formaToPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 824px) {
  .request {
    width: 80%;
    min-width: auto;
  }
  #formaToPost {
    width: auto;
  }
  .requestDescription {
    font-size: 3vmin;
    margin-top: 15px;
    width: 90%;
  }
  .requestDescription {
    width: 90%;
  }
}
@media screen and (max-width: 430px) {
  .request {
    padding: 20px;
  }
  .requestTitle {
    font-size: 1.37em;
  }
  .requestDescription {
    text-align: justify;
    font-size: 13pt;
  }
}





/* footer */
.footer {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #333333;
  color: #ffcc00;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.footerBlockLeft {
  width: 40%;
}
.footerBlockRight {
  width: 50%;
  /* font-size: 1em; */
}
.divFooterIcons {
  width: 50%;
  display: flex;
}
.divFooterIcons div .value {
  text-decoration: none;
  color: inherit;
  /* font-size: 2rem; */
}
.divFooterIconPhone {
  display: flex;
}
.footerIcon {
  width: 60px;
  height: 60px;
  margin-right: 17px;
  border-radius: 50%;
  border: 1px solid #ffcc00;
  transition: background .5s;
  display: flex;
}
.footerIconPhone:before {
  margin:auto;
  content: "";
  background-position: 0 0;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-image: url(../assets/images/service/phone.png);
}
.divFooterIconMail {
  display: flex;
}
.footerIconMail:before {
  margin:auto;
  content: "";
  background-position: 0 0;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-image: url(../assets/images/service/mail.png);
}




















@media screen and (max-width: 824px) {
  .footerBlockLeft {
    width: 40%;
  }
  .footerBlockRight {
    width: 56%;
    /* font-size: 1em; */
  }
}






@media screen and (max-width: 430px){
  .footer p {
    font-size: 12pt;
    text-align: justify;
    width: 97%;
  }
  .footer {
    height: 170px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #333333;
    color: #ffcc00;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .footerBlockLeft {
    width: 95%;
  }
  .footerBlockRight {
    width: 95%;
    /* font-size: 1em; */
  }
  .divFooterIcons {
    width: 50%;
    display: flex;
  }
  .divFooterIcons div .value {
    font-size: 0.7em;
  }
  .divFooterIcons div span {
    font-size: 0.8em;
  }
  .divFooterIconPhone {
    display: flex;
  }
  .footerIconPhone:before {
    margin:auto;
    content: "";
    background-position: 0 0;
    width: 35px;
    height: 35px;
    display: inline-block;
    background-image: url(../../assets/images/service/phone.png);
  }
  .divFooterIconMail {
    display: flex;
  }
  .footerIcon {
    width: 40px;
    height: 40px;
    margin-right: 3px;
    border-radius: 50%;
    border: 1px solid #ffcc00;
    transition: background .5s;
    display: flex;
  }
  .footerIconMail:before {
    margin:auto;
    content: "";
    background-position: 0 0;
    width: 35px;
    height: 35px;
    display: inline-block;
    background-image: url(../../assets/images/service/mail.png);
  }
}


/* end fifth screen */



/* form starting stylings ------------------------------- */
.request-group {
  margin-top: 15px;
  position: relative;
  margin-bottom: 20px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
input:focus {
  outline: none;
}

label {
  color: #00000055;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -15px;
  font-size: 14px;
  /* color: #5264AE; */
  color: rgb(212,75,56);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  /* background: #5264AE; */
  background: rgb(212,75,56);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* media */

@media screen and (max-width: 1210px) {
  .bottonToDown {
    position: relative;
    left: auto;
    top: auto;
    bottom: 9vmin;
    border: none;
    background-color: #ffffffcc;
    align-self: center;
    height: 100px;
  }
  .bottonToDown:hover {
    background-color: #ffffffdd;
    border: none;
  }

  .bottonToDown p {
    position: static;
    margin: 0;
    width: auto;
  }
}

@media screen and (max-width: 824px) {
  .bottonToDown {
    position: static;
  }
  .container-for-button {
    position: static;
  }
  .mainTitle p {
    font-size: inherit;
  }
  td {
    padding: 10px 0px;
    font-size: 3.5vmin;
  }

  input {
    width: auto;
  }
  .bar {
    width: auto;
  }

  .stepsToGetting {
    padding-right: 0;
  }
}
