p {
  margin: 0 2px;
  width: 100%;
}
.parentFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexContentBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  width: 100%;
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.container h3 {
  text-align: center;
}
.stepsToGetting {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.step p {
  text-align: center;
}
.imageSize {
  min-width: 100px;
  height: 100px;
  margin-top: 0;
}
.step1Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step1.png);
  background-size: cover;
}
.step2Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step2.png);
  background-size: cover;
}
.step3Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step3.png);
  background-size: cover;
}
.step4Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step4.png);
  background-size: cover;
}
.step5Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step5.png);
  background-size: cover;
}
.toNextStep {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toNextStep div {
  min-width: 40px;
  height: 40px;
  background-image: url(../../../../assets/images/service/stepToSubmit/arrow.png);
  background-size: cover;
}

.ourAdvantages {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.advantage {
  width: 19%;
}
.advantage h4 {
  margin-bottom: 13px;
  font-size: 2.0rem;
  text-align: center;
}
.advantage1Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant1.png);
  background-size: cover;
}
.advantage2Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant2.png);
  background-size: cover;
}
.advantage3Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant3.png);
  background-size: cover;
}
.advantage4Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant4.png);
  background-size: cover;
}
.advantage5Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant5.png);
  background-size: cover;
}
@media screen and (max-width: 830px) {
  .ourAdvantages {
    flex-direction: column;
  }
  .advantage {
    width: 100%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 690px) {
  .stepsToGetting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 95%;
  }
  .toNextStep{
    transform: rotate(90deg);
  }

}
