p {
  margin: 0 2px;
  width: 100%;
}
.parentFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.borderBlack {
  border: black solid 2px;
}
.flexContentBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  width: 100%;
  text-align: center;
}
.container {
  margin: 5%;
  width: 95%;
  height: 95%;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.stepsToGetting {
  display: flex;
  width: 90%;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.step p {
  text-align: center;
}
.imageSize {
  min-width: 100px;
  height: 100px;
  margin-top: 0;
}
.step1Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step1.png);
  background-size: cover;
}
.step2Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step2.png);
  background-size: cover;
}
.step3Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step3.png);
  background-size: cover;
}
.step4Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step4.png);
  background-size: cover;
}
.step5Image {
  background-image: url(../../../../assets/images/service/stepToSubmit/step5.png);
  background-size: cover;
}
.toNextStep {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toNextStep div {
  min-width: 40px;
  height: 40px;
  background-image: url(../../../../assets/images/service/stepToSubmit/arrow.png);
  background-size: cover;
}

.ourAdvantages {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.advantage {
  width: 19%;
}
.advantage1Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant1.png);
  background-size: cover;
}
.advantage2Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant2.png);
  background-size: cover;
}
.advantage3Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant3.png);
  background-size: cover;
}
.advantage4Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant4.png);
  background-size: cover;
}
.advantage5Image {
  background-image: url(../../../../assets/images/service/ourAdvantages/advant5.png);
  background-size: cover;
}
