<div>
  <!-- [style]="cornerYellowLine" -->
    <div style="display: flex; justify-content: center; align-items: center;" [style.minWidth.px] = "minwidth" [style.minHeight.px] ="minheight">
      <div class="container parentFlexColumn">
        <h3>КАК ОФОРМИТЬ КРЕДИТ/РАССРОЧКУ НА АВТО?</h3>
        <div class="stepsToGetting">
          <div class="step">
            <div class="step1Image imageSize"></div>
            <p>Заполните онлайн заявку</p>
          </div>
          <div class="toNextStep"><div></div></div>
          <div class="step">
            <div class="step2Image imageSize"></div>
            <p>Наш специалист свяжется<br>с вами</p>
          </div>
          <div class="toNextStep"><div></div></div>
          <div class="step">
            <div class="step3Image imageSize"></div>
            <p>Выберите авто для покупки</p>
          </div>
          <div class="toNextStep"><div></div></div>
          <div class="step">
            <div class="step4Image imageSize"></div>
            <p>Оформите договор в<br>офисе</p>
          </div>
          <div class="toNextStep"><div></div></div>
          <div class="step">
            <div class="step5Image imageSize"></div>
            <p>Получите автомобиль</p>
          </div>
        </div>
        <h3 style="margin-top: 40px;">НАШИ ПРЕИМУЩЕСТВА:</h3>
        <div class="ourAdvantages">
          <div class="advantage step">
            <div class="advantage1Image imageSize"></div>
            <h4>Выгодные условия</h4>
            <p>Наши партнерские отношения с банками и лизинговыми компаниями позволяют подобрать для вас самые выгодные условия.</p>
          </div>
          <div class="advantage step">
            <div class="advantage2Image imageSize"></div>
            <h4>Помощь в подборе авто</h4>
            <p>Наш специалист со спец. оборудованием поможет подобрать Вам автомобиль.</p>
          </div>
          <div class="advantage step">
            <div class="advantage3Image imageSize"></div>
            <h4>Скорость</h4>
            <p>Срок рассмотрения заявки от 30 минут до 1 дня.</p>
          </div>
          <div class="advantage step">
            <div class="advantage4Image imageSize"></div>
            <h4>Мобильность</h4>
            <p>Вы можете обратиться в наш офис, либо наш специалист встретится с Вами в удобном для Вас месте.</p>
          </div>
          <div class="advantage step">
            <div class="advantage5Image imageSize"></div>
            <h4>Индивидуальный подход</h4>
            <p>Подберем для вас самый выгодный вариант финансирования. Без поручителей, доп. страховок и комиссий. С досрочным погашением и удобным графиком платежей.</p>
          </div>
        </div>
      </div>
    </div>
</div>
