<div [style.minWidth.px] = "clientWidth" class="header">

  <!-- Desktop Navigation -->
  <div class="desktopNav">
    <div class="emptyDivForPositionLogo"></div>

    <div routerLink = "" routerLinkActive="active-link" class="logo button line">
      <span>AV-Finance</span>
    </div>

    <div *ngFor="let route of routes"
        [routerLink]="route.path"
         routerLinkActive="active-link"
         class="logo button line rightbutton">
      <span>{{route.title}}</span>
    </div>

  </div>

  <!-- Mobile Navigation -->
  <div class="mobileNav">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- Number for connection -->
  <span class="numberForConnection">
    <div class="yellowTreangle"></div>
    <a href="tel:+375336892989">+375(33)689-29-89</a>
  </span>
</div>

<div class="requestCall">
  <a mat-fab color="primary" (click)="openModal()" aria-label="Заказать звонок">
    <mat-icon>phone</mat-icon>
  </a>
</div>
