
.header {
  height: 100%;
  width: 100%;
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
}
.button {
  color: white;
  cursor: pointer;
  padding: 0 20px;
}
.button:focus {
  outline: 0;
}
.button:hover span {
  color: #ccc;
}

.emptyDivForPositionLogo {
  width: 65px;
}
.logo span {
  font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
  font-size: 25px;
}
.numberForConnection {
  margin-right: 30px;
  font-size: 2.2rem;
  display: flex;
}
.yellowTreangle {
  background: url(../../assets/images/service/triangle.svg);
  background-size: cover;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.line {
  position: relative;
}
.line::before, .line::after {
  position: absolute;
  content: '';
}
.line::before {
  width: 1px;
  border-left: #ccc solid 1px;
  top: 5px;
  bottom: 5px;
  left: 0px;
}
.line::after {
  width: 1px;
  border-right: #ccc solid 1px;
  right: 0px;
  top: 5px;
  bottom: 5px;
}
.rightbutton {
  margin-left: -1px;
}

@media screen and (max-width: 824px) {
  .numberForConnection {
    margin-right: 5%;
  }
  .logo {
    margin-left: 5%
  }

  .emptyDivForPositionLogo {
    width: 4px;
  }
  .logo span {
    font-size: 1.5rem;
  }
  .numberForConnection {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 390px) {
  .logo span {
    font-size: 1.3rem;
  }
  .numberForConnection {
    font-size: 1.3rem;
  }
  .yellowTreangle {
    margin: 0 4px 0 0;
    height: auto;
  }
}
