
.header {
  height: 100%;
  width: 100%;
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff
}






.desktopNav {
  display: flex;
}
.mobileNav {
  display: none;
}

.example-is-mobile .example-toolbar {
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  /* flex: 1; */
  position: fixed;
  left: 0;
  top: 0;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}









.logo {
  height: 40px;
  display: flex;
  align-items: center;
}
.button {
  color: white;
  cursor: pointer;
  padding: 0 20px;
}
.button:focus {
  outline: 0;
}
.button:hover span {
  color: #ccc;
}

.emptyDivForPositionLogo {
  width: 65px;
}
.logo span {
  font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
  font-size: 25px;
}
.numberForConnection {
  margin-right: 30px;
  font-size: 2.2rem;
  display: flex;
}
.numberForConnection a {
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.yellowTreangle {
  background: url(../../assets/images/service/triangle.svg);
  background-size: cover;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.line {
  position: relative;
}
.line::before, .line::after {
  position: absolute;
  content: '';
}
.line::before {
  width: 1px;
  border-left: #ccc solid 1px;
  top: 5px;
  bottom: 5px;
  left: 0px;
}
.line::after {
  width: 1px;
  border-right: #ccc solid 1px;
  right: 0px;
  top: 5px;
  bottom: 5px;
}
.rightbutton {
  margin-left: -1px;
}

@media screen and (max-width: 824px) {
  .numberForConnection {
    margin-right: 5%;
  }
  .numberForConnection a {
    margin-top: 4px;
  }
  .logo {
    margin-left: 5%
  }

  .emptyDivForPositionLogo {
    width: 4px;
  }
  .logo span {
    font-size: 1.5rem;
  }
  .numberForConnection {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
}

@media screen and (max-width: 440px) {
  .yellowTreangle {
    margin: 0 4px 0 0;
    height: auto;
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .logo span {
    font-size: 1rem;
  }
  .numberForConnection {
    font-size: 1.2rem;
    margin-right: 6px;
  }
}
