<div class="footer">
  <div class="footerBlockLeft">
    <p>(с) 2019 Компания AV-Finance - продажа любых автомобилей с пробегом в кредит/лизинг на выгодных условиях. </p>
  </div>
  <div class="footerBlockRight" style="display: flex;">
    <div class="divFooterIcons">
      <i class="footerIconPhone footerIcon"></i>
      <div style="display: flex; flex-direction: column; align-items: left; justify-content: space-around">
        <span>ТЕЛЕФОНЫ</span>
        <a href="tel:+375336892989" class="value">+375(33)689-29-89</a>
      </div>
    </div>
    <div class="divFooterIcons">
      <i class="footerIconMail footerIcon"></i>
      <div style="display: flex; flex-direction: column; align-items: left; justify-content: space-around">
        <span>НАПИСАТЬ НАМ</span>
        <span class="value">info@av-finance.by</span>
      </div>
    </div>
  </div>
</div>
