<div>
  <!-- [style]="cornerYellowLine" -->
  <div style="display: flex; justify-content: center; align-items: center;" [style.minWidth.px] = "minwidth" [style.minHeight.px] ="minheight">
    <div class="container">
      <div class="title borderGreen">
        <span>КРЕДИТ/ЛИЗИНГ</span>
      </div>
      <div class="content parentFlexColumn">
        <span>на покупку автомобиля с пробегом</span>
        <span style="font-weight: bold; margin: 10px;">ОСНОВНЫЕ УСЛОВИЯ</span>
        <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center; width: 95%;">
          <div class="creditDescriptionBlock parentFlexColumn borderBlack">
            <h3>КРЕДИТ</h3>
            <p>Процентная ставка: <strong>от 11% годовых</strong></p>
            <p>Срок кредита: <strong>до 7 лет</strong></p>
            <p>Аванс: <strong>от 0% от стоимости автомобиля</strong></p>
            <p>Валюта: <strong>белорусские рубли</strong></p>
            <p>Сумма кредита: <strong>до 100000 BYN</strong></p>
            <p>Досрочное погашение: <strong>без ограничений</strong></p>
          </div>
          <div class="lisingDescriptionBlock parentFlexColumn borderBlack">
            <h3>ЛИЗИНГ</h3>
            <p>Процентная ставка: <strong>от 10% годовых</strong></p>
            <p>Срок кредита: <strong>до 5 лет</strong></p>
            <p>Аванс: <strong>от 15% от стоимости автомобиля</strong></p>
            <p>Валюта: <strong>доллар США, евро</strong></p>
            <p>Сумма кредита: <strong>до 100000 USD</strong></p>
            <p>Досрочное погашение: <strong>без ограничений</strong></p>
          </div>
        </div>
        <div style=" padding: 10px; margin-bottom: 20px; width: 95%;" class="borderBlack parentFlexColumn">
          <div class="firstLineBlockAdvantages ">
            <div class="firstBlockAdvantages flexContentBetween">
              <div class="imageAuto imageSize"></div>
              <div class="imageAutoDescription parentFlexColumn">
                <h3>ЛЮБОЙ АВТОМОБИЛЬ</h3>
                <p>Вы можете приобрести в кредит или лизинг автомобиль любой марки, года выпуска, стоимости.</p>
              </div>
            </div>
            <div class="secondBlockAdvantages flexContentBetween">
              <div class="imageDocuments imageSize"></div>
              <div class="imageDocumentsDescription parentFlexColumn">
                <h3>НЕОБХОДИМЫЕ ДОКУМЕНТЫ</h3>
                <p>Для оформления кредита или лизинга достаточно только вашего паспорта, в некоторых случаях может понадобиться справка о доходах.</p>
              </div>
            </div>
          </div>
          <div  class="secondLineBlockAdvantages">
            <div class="thirdBlockAdvantages flexContentBetween">
              <div class="imageForWho imageSize"></div>
              <div class="imageForWhoDescription parentFlexColumn">
                <h3>ДЛЯ КОГО</h3>
                <p>Для всех платежеспособных граждан РБ.</p>
                <p>Для граждан имеющих вид на жительство.</p>
              </div>
            </div>
            <div class="fourthBlockAdvantages flexContentBetween">
              <div class="imageHowSpeed imageSize"></div>
              <div class="imageHowSpeedDescription parentFlexColumn">
                <h3>КАК БЫСТРО</h3>
                <p>Срок рассмотрения заявки составляет от 30 минут до 1 дня.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
