p, h1, div {
  font-family: Roboto-Light,Helvetica,Arial,sans-serif;
}


.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}






.firstScreen {
  background-image: linear-gradient(41deg, #00000099 540px, #00000099 541px, #00000099 1262px, #00000099 1263px), url(../../../../assets/images/service/firstScreen.jpg);
  background-size: cover;
}
.secondHalfFirstScreenBlocks {
  position: relative;
  display: flex;
}
.mainTitleAndDescription {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mainTitle {
}
.mainTitle p {
  color: white;
  font-size: 4rem;
  font-family: "Rubik",sans-serif;
  text-align: center;
}
.mainDescription {
  color: white;
  width: 50%;
}
.mainDescription p {
  font-size: 1.6rem;
  text-align: center;
}
.bottonToDown {
  position: absolute;
  bottom: 16vmin;
  left: 101vmin;

  background: #ffffff00;
  border-color: #00000000;

  border-top: 90px solid #ffffffcc;
  border-left: 103px solid transparent;
  height: 0;
  width: 430px;
}
.bottonToDown:hover {
  border-top: 90px solid #ffffffee;
}
.bottonToDown:focus {
  outline: 0;
}
.bottonToDown:hover p {
  font-weight: bolder;
  font-size: 30px;
}
.marginTopForMobile {
  margin-top: 25px;
}
.bottonToDown p {
  font-size: 32px;
  color: #d70000;
  margin-top: -65px;
  margin-left: -10px;
  position: absolute;
  text-align: center;
  width: 300px;
}





.iconContainer {
  width: 105vmin;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.iconForAttract {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24vmin;
}
.iconSize {
  height: 20vmin;
  width: 20vmin;
}
.iconTitleSize {
  font-size: 2vmin;
  font-weight: bold;
  text-align: center;
}
.iconTime {
  background: url(../../../../assets/images/service/iconClock.png);
  background-size: cover;
}
.iconDocument {
  background: url(../../../../assets/images/service/iconDocument.png);
  background-size: cover;
}
.iconPercentage {
  background: url(../../../../assets/images/service/iconPercentage.png);
  background-size: cover;
}
.iconTrafic {
  background: url(../../../../assets/images/service/iconTraffic.png);
  background-size: cover;
}

.marginTop0 {
  margin-top: 0;
}
.marginBot0 {
  margin-bottom: 0;
}



@media screen and (max-device-width: 824px) {
  .secondHalfFirstScreenBlocks {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bottonToDown {
    position: static;
    background: #ffffffcc;
    border: 0;
    height: 90px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottonToDown:hover {
    background: #ffffffee;
    border: 0;
  }
  .bottonToDown p {
    font-size: 32px;
    color: #d70000;
    margin: 0;
    position: relative;
  }
  .bottonToDown:hover p {
    font-weight: bold;
  }
}







@media screen and (max-device-width: 430px) {
  .mainTitle p {
    color: white;
    font-size: 2rem;
    font-family: "Rubik",sans-serif;
    text-align: center;
  }
  .mainDescription {
    color: white;
    width: 90%;
  }
  .mainDescription p {
    text-indent: 1.5em;
    font-size: 1.4rem;
    text-align: justify;
  }
  .secondHalfFirstScreenBlocks {
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
