<form #formData='ngForm' (ngSubmit)="submitForm(formData)" id="formaToPost">
  <h3 mat-dialog-title class="requestTitle">
    Заказать звонок
  </h3>
  <div mat-dialog-content>
  <mat-form-field class="requestInputs">
    <input matInput placeholder="Имя" value="" name="name" [(ngModel)]="name" required>
  </mat-form-field>
  <mat-form-field class="requestInputs">
    <input matInput placeholder="Телефон" value="" name="phone" [(ngModel)]="phone" required>
  </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button style="width: 200px; height: 40px; font-size: 1.1em;" mat-raised-button [disabled]="!formData.valid" type="submit" color="warn">Отправить заявку</button>
  </div>
</form>
