
<div [style.minWidth.px] = "minwidth" [style.minHeight.px] = "minheight">
<div [style]="secondScreenStyle">
<div class="screenPage2" [style.minWidth.px] = "minwidth" [style.minHeight.px] = "minheight">
  <h1 class="page2Title">ПОДБЕРИТЕ ИНДИВИДУАЛЬНЫЙ ВАРИАНТ ФИНАНСИРОВАНИЯ</h1>
  <div class="choiseAutoType">
    <p>Введите стоимость автомобиля:</p>
    <mat-form-field class="price">
      <input matInput #prices placeholder="" [(ngModel)] = "price" name="price">
    </mat-form-field>
  </div>

  <div class="slidersAndBestChoise">
    <mat-card class="slidersBlock">

      <h2 class="titlesWithValues">
        Первый платёж: {{getFirstPayment()}}
      </h2>
      <div class="divForSlider">

        <div class="divSliderContainer">
          <ng5-slider [(value)]="firstPaymentValue" [options]="firstPaymentOptions"></ng5-slider>
        </div>

        <!-- <div  matTooltip="Текст подсказки про бегунок c процентом первого платежа"
              matTooltipPosition="above"
              matTooltipHideDelay="1000"
              matTooltipClass="toolTipText"
              class="toolTip">
          ?
        </div> -->
      </div>

      <!--
        for new slider

      <div class="firstRepaymentValues">
        <span *ngFor="let persentage of creditFirstPaymentPercentageValues">{{persentage}}</span>
      </div>
      -->

      <h2 class="marginTopForMobile">
        Срок: {{getPeriod()}}
      </h2>

      <div class="divForSlider">
        <div class="divSliderContainer">
          <ng5-slider (valueChange)="changeFirstRepaymentFloor($event)" [(value)]="repaymentPeriodValue" [options]="repaymentPeriodOptions"></ng5-slider>
        </div>
        <!-- <div  matTooltip="Текст подсказки про бегунок с периодом"
              matTooltipPosition="above"
              matTooltipHideDelay="1000"
              matTooltipClass="toolTipText"
              class="toolTip">
          ?
        </div> -->
      </div>
      <div style="height: 40px;"></div>
    </mat-card>

    <mat-card class="slidersBlock">
      <div class="slidersRightBlock">
        <!-- <h3>Лучший выбор:</h3>
        <img [src]="link" class="image"> -->
        <h3>Процентная ставка:</h3>
        <h2 class="values">{{getRate()}} %</h2>
        <h3>Ежемесячный платёж:</h3>
        <h2 class="values">{{getPLT()}} BYN</h2>
        <!--
        <div>Выгода:</div>
        <div>{{getExtraPayment()}}</div>
        -->
      </div>
    </mat-card>
  </div>

  <button mat-raised-button class="aboutConditions" routerLink="" color="primary" >Подробнее об условиях</button>
</div>
</div>
</div>
