<!--  First screen -->


<div class="screen">
  <div class="main">
    <div class="mainTitle">
      <h2>Мультидиллер</h2>
    </div>
    <div class="mainContent">
      <p align="justify">
        Мы проанализировали предложения 21 банка и 18 лизинговых компаний в области финансирования покупки автомобиля и подобрали самые выгодные условия в части переплаты процентов, скорости рассмотрения и доступности кредита/лизинга
      </p>

      <p align="center">
        Подберите свой индивидуальный вариант покупки автомобиля:
      </p>

      <mat-button-toggle-group class="buttonGroup" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="button" (click)="selectedNew = 'new'" value="new">Новый</mat-button-toggle>
        <mat-button-toggle class="button" (click)="selectedNew = 'notNew'"  value="notNew">С пробегом</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group *ngIf="selectedNew !== 'notNew' else nowNew" class="buttonGroup" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="button" value="fl">ФЛ</mat-button-toggle>
        <mat-button-toggle class="button" value="ul">ЮР</mat-button-toggle>
      </mat-button-toggle-group>

      <ng-template #nowNew>
        <mat-button-toggle-group class="buttonGroup" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle class="button" value="fl">BYR</mat-button-toggle>
          <mat-button-toggle class="button" value="ul">USD</mat-button-toggle>
        </mat-button-toggle-group>
      </ng-template>

    </div>
  </div>
</div>



<!--  Second screen -->



<div class="screen">
  <form *ngIf="selectedNew != 'notNew'" >
    <mat-form-field class="buttonGroup" >
      <mat-label>Марка</mat-label>
      <mat-select [(ngModel)]="selectedMark" name="mark">
        <mat-option *ngFor="let mark of marks" [value]="mark.value">
          <div class="option">
            <div>{{mark.viewValue}}</div><div></div><div>{{mark.price}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- BLOCK MODEL -->
    <mat-form-field *ngIf="!selectedMark" class="buttonGroup" >
      <mat-label>Модель</mat-label>
      <mat-select [disabled]="true" [(ngModel)]="selectedModel" name="model">
        <mat-option *ngFor="let mark of marks" [value]="mark.value">
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="selectedMark == 'Audi'" class="buttonGroup" >
      <mat-label>Модель</mat-label>
      <mat-select [(ngModel)]="selectedModel" name="model">
        <mat-option *ngFor="let model of audiModels" [value]="model.value">
          <div class="option">
            <div>{{model.viewValue}}</div><div></div><div>{{model.price}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- BLOCK COMP -->
    <mat-form-field *ngIf="selectedModel == 'model1'" class="buttonGroup" >
      <mat-label>Комплектация</mat-label>
      <mat-select (blur)="calculate()" [(ngModel)]="selectedComp" name="comp">
        <mat-option *ngFor="let comp of audiModel1Comps" [value]="comp.price">
          <div class="option">
            <div>{{comp.viewValue}}</div><div></div><div>{{comp.price}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Цена" [(ngModel)] = "price" name="price">
    </mat-form-field>
  </form>
  
  <div style="width: 800px; margin: 10px;">

    <mat-card>
      <div style="display: flex; justify-content: space-between">
        <div>
          Кредит
        </div>
        <div></div>
        <div>
          Лизинг
        </div>
      </div>
      <!--
        [(ngModel)]="valueCreditOrLising"
        [disabled]="disabledCreditOrLising"
      -->
      <mat-slider
          style="width:100%"
          max="1"
          min="0">
      </mat-slider>
  
      <div style="display: flex; justify-content: space-between">
        <div>
          Процент первого взноса
        </div>
        <div></div>
        <div>
          
        </div>
      </div>
      <mat-slider
          style="width:100%"
          max="100"
          min="0"
          step="5"
          thumbLabel="true"
          tickInterval="5"
          >
      </mat-slider>


      <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
  
      <div style="display: flex; justify-content: space-between">
        <div>
          
        </div>
        <div></div>
        <div>
          
        </div>
      </div>
      <mat-slider
          style="width:100%"
          max="100"
          min="0"
          step="5"
          thumbLabel="true"
          tickInterval="5"
          >
      </mat-slider>
    </mat-card>

    <mat-card class="subClass">
      <div style="display: flex; flex-direction: column; align-items: center; height: 100%; width: 100%">
        <div style.background-image= "url(https://s13.stc.all.kpcdn.net/share/i/12/10318330/inx960x640.jpg);"  class="image"></div>
        <div>Лучший выбор</div>
        <div>Ежемесчный платёж:</div>
        <div>..........................</div>
        <div>Переплата:</div>
        <div>..........................</div>
      </div>
    </mat-card>

  </div>
</div>

<div class="screen">
  <div style="display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%;">
    <div>
      <h2>Заявка на финансирование</h2>
    </div>
    <mat-form-field style="width: 300px">
      <input matInput placeholder="Имя" value="">
    </mat-form-field>
    <mat-form-field style="width: 300px">
      <input matInput placeholder="Телефон" value="">
    </mat-form-field>
    <button mat-raised-button color="warn">Отправить заявку</button>
  </div>
</div>









