p {
  margin: 0 2px;
  width: 100%;
  font-size: 2rem;
}
.parentFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}
.flexContentBetween {
  display: flex;
  align-items: center;
}
.imageSize {
  min-width: 100px;
  height: 100px;
  margin: auto 25px;
}

.container {
  margin: 0%;
  width: 100%;
  height: 100%;
}
.title {
  width: 100%;
  text-align: center;
}
.title span {
  font-size: 2.4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.content {
  width: 100%;
}
.creditDescriptionBlock {
  width:45%;
  padding: 10px;
}
.creditDescriptionBlock p {
  width: 95%;
  margin-bottom: 10px;
}
.lisingDescriptionBlock {
  width:45%;
  padding: 10px;
}
.lisingDescriptionBlock p {
  width: 95%;
  margin-bottom: 10px;
}





.firstLineBlockAdvantages {
  display: flex;
  width: 100%;
}
.secondLineBlockAdvantages {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.firstBlockAdvantages {
  display: flex;
  width: 50%;
}
.imageAuto {
  background-image: url(../../../../assets/images/service/advantagesPage/auto.png);
  background-size: cover;
}
.imageAutoDescription p {
  width: auto;
}
.secondBlockAdvantages {
  position: relative;
  display: flex;
  width: 50%;
}
.imageDocuments {
  background-image: url(../../../../assets/images/service/advantagesPage/documents.png);
  background-size: cover;
}
.thirdBlockAdvantages {
  position: relative;
  display: flex;
  width: 50%;
}
.imageForWho {
  background-image: url(../../../../assets/images/service/advantagesPage/forwho.png);
  background-size: cover;
}
.imageForWhoDescription, .imageHowSpeedDescription, .imageDocumentsDescription {
  width: 100%;
}
.fourthBlockAdvantages {
  position: relative;
  display: flex;
  width: 50%;
}
.imageHowSpeed {
  background-image: url(../../../../assets/images/service/advantagesPage/howspeed.png);
  background-size: cover;
}

.borderLeft::before, .borderTop::after {
  position: absolute;
  content: '';
}
.borderLeft::before {
  top: 7px;
  bottom: 7px;
  left: 0px;
  border-left: 1px solid #e6e6e6;
  width: 1px;
}
.borderTop::after {
  top: 0;
  height: 1px;
  left: 17px;
  right: 17px;
  border-top: 1px solid #e6e6e6;
}
.creditLisingBlocks {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.advantagesBlocks {
  box-sizing:border-box;
  padding: 10px;
  margin-bottom: 20px;
  width: 95%;
}
.mainTitle {
  margin-bottom:7px;
  margin-top:4px;
  font-size: 3rem;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .creditLisingBlocks {
    flex-wrap: wrap;
  }
  .creditDescriptionBlock, .lisingDescriptionBlock {
    width:100%;
    padding: 10px;
    margin-top: 10px;
  }
  .creditDescriptionBlock p {
    width: 95%;
    margin-bottom: 10px;
  }
  .firstLineBlockAdvantages, .secondLineBlockAdvantages  {
    flex-wrap: wrap;
    margin: 0;
  }
  .firstBlockAdvantages, .secondBlockAdvantages, .thirdBlockAdvantages, .fourthBlockAdvantages {
    width: 100%;
    margin-bottom: 15px;
  }
  .borderLeft::before, .borderTop::after {
    border: 0;
  }
  .mainTitle {
    margin-top: 40px;
  }
  .imageSize {
    min-width: 70px;
    height: 70px;
    margin: auto 10px;
  }
}
