<!--  First screen -->

<div class="screen"  [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight" >
  <div class="main">
    <div class="mainTitle">
      <h2>Мультидиллер</h2>
    </div>
    <div class="mainContent">
      <p align="justify">
          Мы проанализировали предложения 21 банка и 18 лизинговых компаний в области финансирования покупки автомобиля и подобрали самые выгодные условия в части переплаты процентов, скорости рассмотрения и доступности кредита/лизинга
      </p>

      <p align="center">
        Подберите свой индивидуальный вариант покупки автомобиля:
      </p>

      <mat-button-toggle-group class="buttonGroup" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="button" (click)="selectedNew = 'new'" value="new">Новый</mat-button-toggle>
        <mat-button-toggle class="button" (click)="selectedNew = 'notNew'"  value="notNew">С пробегом</mat-button-toggle>
      </mat-button-toggle-group>

      <!-- Start template -->
      <mat-button-toggle-group class="buttonGroup" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="button" (click)="selectedFace = 'F'" value="fl">ФЛ</mat-button-toggle>
        <mat-button-toggle class="button" (click)="selectedFace = 'U'" (click)="scrollToSecondPage()" value="ul">ЮЛ</mat-button-toggle>
      </mat-button-toggle-group>
      <!-- End template -->

    </div>
  </div>
</div>

<!--  Second screen -->

<div class="screen"  [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight" >
  
  <!-- begin form -->

  <form *ngIf="selectedNew != 'notNew'" class="responsiveForm" >

    <mat-form-field class="buttonGroup">
      <mat-label>Марка</mat-label>
      <mat-select (openedChange) = "openMarksOptions($event)" [(ngModel)]="selectedMark" name="mark">
        <mat-option  (click)="closeMarksOptions()" *ngFor="let mark of allMarks" [value]="mark.name">
          <div class="option">
            <div>{{mark.name}}</div><div></div><div *ngIf="!isClosedMarksOptions">{{mark.minPrice | priceVisible}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="buttonGroup">
      <mat-label>Модель</mat-label>
      <mat-select (openedChange) = "openModelsOptions($event)" [(ngModel)]="selectedModel" name="model">
        <mat-option (click)="closeModelsOptions()" *ngFor="let model of models" [value]="model.name">
          <div class="option">
            <div>{{model.name}}</div><div></div><div *ngIf="!isClosedModelsOptions">{{model.minPrice | priceVisible}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field  class="buttonGroup" >
      <mat-label>Комплектация</mat-label>
      <mat-select (openedChange) = "openCompsOptions($event)" [(ngModel)]="selectedComp" name="comp">
        <mat-option (click)="closeCompsOptions()" *ngFor="let comp of comps" [value]="comp.name">
          <div class="option">
            <div>{{comp.name}}</div><div></div><div *ngIf="!isClosedCompsOptions">{{comp.price | priceVisible}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Цена" [(ngModel)] = "price" name="price">
  </mat-form-field>

  <!-- end form -->
  
  <div style="margin: 10px; display: flex; flex-wrap: wrap; justify-content: center;">

    <mat-card class="slidersBlock">
      <div *ngIf="selectedFace == 'F' else U">
        <ng5-slider [(value)]="creditLisingValue"  [options]="creditLisingOptions"></ng5-slider>
        <!-- (valueChange)="isChangedCreditLising()" -->
      </div>
      <ng-template #U>
        <div>
          <ng5-slider [(value)]="BYRorUSDvalue" [options]="BYRorUSDoptions"></ng5-slider>
        </div>
      </ng-template>

      <div style="margin: 5px;">
        Первый платёж:
      </div>
      <div style="margin: 5px;">
        {{getFirstPayment()}}
      </div>
      
      <ng5-slider *ngIf="creditLisingValue === 0 else lisingFirstPaymentSlider" [(value)]="firstPaymentPercentageValue" [options]="firstPaymentPercentageOptions"></ng5-slider>
      <ng-template #lisingFirstPaymentSlider>
        <ng5-slider [(value)]="lisingFirstPaymentPercentageValue" [options]="lisingFirstPaymentPercentageOptions"></ng5-slider>
      </ng-template>

      <div style="margin: 20px 5px 5px 5px; ">
        Срок
      </div>
      <div style="margin: 5px;">
        {{getPeriod()}}
      </div>

      <ng5-slider *ngIf="creditLisingValue === 0 else lisingRepaymentPeriodSlider" [(value)]="repaymentPeriodValue" [options]="repaymentPeriodOptions"></ng5-slider>
      <ng-template #lisingRepaymentPeriodSlider>
        <ng5-slider [(value)]="lisingRepaymentPeriodValue" [options]="lisingRepaymentPeriodOptions"></ng5-slider>
      </ng-template>


    </mat-card>

    <mat-card class="slidersBlock">
      <div style="display: flex; flex-direction: column; align-items: center; height: 100%; width: 100%">
        <img [src]="link" class="image">
        <div>Лучший выбор</div>
        <div>Процентная ставка:</div>
        <div>{{(calculateRate() * 100).toFixed(2)}} %</div>
        <div>Ежемесячный платёж:</div>
        <div>{{getPLT().toFixed(2)}} BYN</div>
        <!--
        <div>Выгода:</div>
        <div>{{getExtraPayment()}}</div>
        -->
      </div>
    </mat-card>

  </div>
  <button mat-raised-button (click)="scrollToThirdPage()" class="margin" color="primary" >Оформить заявку</button>
</div>

<div class="screen"  [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight" >
  <div style="display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%;">
    <div>
      <h2>Заявка на финансирование</h2>
    </div>
    <form onsubmit="console.log('efsf')" style="display: flex; flex-direction: column; align-items: center; width: 100%; height: 90%;">
      <mat-form-field style="width: 300px">
        <input matInput placeholder="Имя" value="" required>
      </mat-form-field>
      <mat-form-field style="width: 300px">
        <input matInput placeholder="Телефон" value="" required>
      </mat-form-field>
      <mat-form-field style="width: 300px">
        <input matInput placeholder="E-mail" value="">
      </mat-form-field>
      <button mat-raised-button type="submit" color="warn">Отправить заявку</button>
    </form>
  </div>
</div>



  
  
  
  
  
  