<div [style.minWidth.px] = "clientWidth" class="blackLine">
  <div class="logo">
    <div class="emptyDivForPositionLogo"></div>
      <span>AV-Finance</span>
  </div>
  <span class="numberForConnection">
    <div class="yellowTreangle"></div>
    +375(33)689-29-89
  </span>
</div>

<!--  First screen -->
<div class="screen firstScreen" [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight">
  <div [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight*0.55" >
  <div [style]="firstScreenFirstHalfStyle">
  <div class="screen" [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight*0.55" >
    <div class="mainTitleAndDescription">
      <div class="mainTitle">
        <p>КРЕДИТ / ЛИЗИНГ АВТОМОБИЛЕЙ С ПРОБЕГОМ<br> ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
      </div>
      <div class="mainDescription">
        <p>Мы проанализировали все предложения банков и лизинговых компаний в области финансирования покупки автомобиля и подобрали для Вас самые выгодные условия. Наши партнерские соглашения с банками позволяют выбрать Вам самый лучший вариант финансирования.</p>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight*0.45">
  <div [style]="firstScreenSecondHalfStyle">
  <div class="secondHalfFirstScreenBlocks" [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight*0.45">
    <div class="iconContainer">
      <div class="iconForAttract">
        <div class="iconTime iconSize"></div>
        <p class="iconTitleSize">Быстрое рассмотрение</p>
      </div>
      <div class="iconForAttract">
        <div class="iconDocument iconSize"></div>
        <p class="iconTitleSize">Минимум документов</p>
      </div>
      <div class="iconForAttract">
        <div class="iconPercentage iconSize"></div>
        <p class="iconTitleSize">Выгодные условия</p>
      </div>
      <div class="iconForAttract">
        <div class="iconTrafic iconSize"></div>
        <p class="iconTitleSize">Любой автомобиль</p>
      </div>
    </div>
    <button class="bottonToDown" (click)="scrollToSecondPage()"><p>Подобрать условия</p></button>
  </div>
  </div>
  </div>
</div>

<!-- New Screens -->
<app-credit-lising-difference [minwidth]="clientWidth" [minheight]="clientHeight">
</app-credit-lising-difference>

<!-- Olf Screens -->

<!--  Second screen -->
<div [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight">
<div [style]="secondScreenStyle">
<div class="screenPage2" [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight">
  <h1 class="page2Title">ПОДБЕРИТЕ ИНДИВИДУАЛЬНЫЙ ВАРИАНТ ФИНАНСИРОВАНИЯ</h1>
  <div class="choiseAutoType">
    <p>Введите стоимость автомобиля:</p>
    <mat-form-field class="price">
      <input matInput placeholder="" [(ngModel)] = "price" name="price">
    </mat-form-field>
  </div>

  <div class="slidersAndBestChoise">
    <mat-card class="slidersBlock">

      <!-- START CREDIT-LISING; USD-BYR SLIDERS -->
      <div *ngIf="selectedFace == 'F'">
        <div class="booleanSliderLables">
          <span>Кредит</span>
          <span>Лизинг</span>
        </div>
        <ng5-slider [(value)]="creditLisingValue"  [options]="creditLisingOptions"></ng5-slider>
        <!-- (valueChange)="isChangedCreditLising()" -->
      </div>
      <!-- END CREDIT-LISING; USD-BYR SLIDERS -->


      <h2 class="titlesWithValues">
        Первый платёж: {{getFirstPayment()}}
      </h2>
      <div class="divForSlider">

        <div class="divSliderContainer">
          <ng5-slider *ngIf="creditLisingValue === 0" [(value)]="firstPaymentPercentageValue" [options]="firstPaymentPercentageOptions"></ng5-slider>
          <ng5-slider *ngIf="creditLisingValue === 1" [(value)]="lisingFirstPaymentPercentageValue" [options]="lisingFirstPaymentPercentageOptions"></ng5-slider>
        </div>


        <div  matTooltip="Текст подсказки про бегунок c процентом первого платежа"
              matTooltipPosition="above"
              matTooltipHideDelay="1000"
              matTooltipClass="toolTipText"
              class="toolTip">
          ?
        </div>
      </div>

      <div class="firstRepaymentValues">
        <span *ngFor="let persentage of creditFirstPaymentPercentageValues">{{persentage}}</span>
      </div>

      <h2 class="marginTopForMobile">
        Срок: {{getPeriod()}}
      </h2>

      <div class="divForSlider">
          <div class="divSliderContainer">
            <ng5-slider *ngIf="creditLisingValue === 0 else lisingRepaymentPeriodSlider" [(value)]="repaymentPeriodValue" [options]="repaymentPeriodOptions"></ng5-slider>
            <ng-template #lisingRepaymentPeriodSlider>
              <ng5-slider [(value)]="lisingRepaymentPeriodValue" [options]="lisingRepaymentPeriodOptions"></ng5-slider>
            </ng-template>
          </div>
        <div  matTooltip="Текст подсказки про бегунок с периодом"
              matTooltipPosition="above"
              matTooltipHideDelay="1000"
              matTooltipClass="toolTipText"
              class="toolTip">
          ?
        </div>
      </div>
      <div style="height: 40px;"></div>
    </mat-card>

    <mat-card class="slidersBlock">
      <div class="slidersRightBlock">
        <!-- <h3>Лучший выбор:</h3>
        <img [src]="link" class="image"> -->
        <h3>Процентная ставка:</h3>
        <h2 class="values">{{(calculateRate() * 100).toFixed(2)}} %</h2>
        <h3>Ежемесячный платёж:</h3>
        <h2 class="values">{{getPLT().toFixed(2)}} BYN</h2>
        <!--
        <div>Выгода:</div>
        <div>{{getExtraPayment()}}</div>
        -->
      </div>
    </mat-card>
  </div>

  <button mat-raised-button class="aboutConditions" (click)="scrollToThirdPage()" color="primary" >Подробнее об условиях</button>
</div>
</div>
</div>




<!-- Third screen -->
<app-installment-plan [minwidth]="clientWidth" [minheight]="clientHeight">
</app-installment-plan>

<app-how-submit [minwidth]="clientWidth" [minheight]="clientHeight">
</app-how-submit>


<div [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight">
<div [style] = "thirdScreenStyle">
<div class="screen thirdScreen" [style.minWidth.px] = "clientWidth" [style.minHeight.px] = "clientHeight">
  <mat-card class="request" >
    <p class="requestTitle"><strong>Заявка на финансирование</strong></p>
    <p class="requestDescription">Наш специалист свяжется с вами и подробно проконсультирует вас обо всех условиях покупки автомобиля</p>
    <form #formData='ngForm' (ngSubmit)="submitForm(formData)" id="formaToPost" style="display: flex; flex-direction: column; align-items: center; width: 90%; height: 90%;">
      <input type="hidden" name="project_name" (ngModel)="project_name" value="Обратный Звонок">
      <input type="hidden" name="admin_email" (ngModel)="admin_email" value="info@av-finance.by">
      <input type="hidden" name="form_subject" (ngModel)="form_subject" value="New order">
      <mat-form-field class="requestInputs">
        <input matInput placeholder="Имя" value="" name="name" (ngModel)="name" required>
      </mat-form-field>
      <mat-form-field class="requestInputs">
        <input matInput placeholder="Телефон" value="" name="phone" (ngModel)="phone" required>
      </mat-form-field>
      <button style="width: 200px; height: 40px; font-size: 1.1em;" mat-raised-button [disabled]="!formData.valid" type="submit" color="warn">Отправить заявку</button>
    </form>
  </mat-card>
  <div class="footer">
    <div class="footerBlockLeft">
      <p>(с) 2019 Компания AV-Finance - продажа любых автомобилей с пробегом в кредит/лизинг на выгодных условиях. </p>
    </div>
    <div class="footerBlockRight" style="display: flex;">
      <div class="divFooterIcons">
        <i class="footerIconPhone footerIcon"></i>
        <div style="display: flex; flex-direction: column; align-items: left; justify-content: space-around">
          <span>ТЕЛЕФОНЫ</span>
          <span class="value">+375(33)689-29-89</span>
        </div>
      </div>
      <div class="divFooterIcons">
        <i class="footerIconMail footerIcon"></i>
        <div style="display: flex; flex-direction: column; align-items: left; justify-content: space-around">
          <span>НАПИСАТЬ НАМ</span>
          <span class="value">info@av-finance.by</span>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
