/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.toolTipText {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9em;
}

body {
  scroll-behavior: smooth;
}
